/*
 * Custom styles for code blocks
 */

div.highlighter-rouge pre.highlight, 
.highlight pre, 
pre {
  padding-top: 0.5em !important;    /* Reduce top padding */
  padding-bottom: 0.5em !important; /* Reduce bottom padding */
}

div.highlighter-rouge pre.highlight code,
pre code {
  line-height: 1.3 !important;
}
